@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Jost:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}
.ckicon {
  color: white;
  width: 32px;
  height: 32px;
}
